In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

In [4]:
df = pd.read_csv("youtube_dataset.csv")
df.head()

   title_length  tags_count  subscribers  publish_hour   views
0            45          10         5000            10   40000
1            60          15        12000            18   85000
2            30           8         3000            14   25000
3            80          20        20000            20  150000
4            55          12         9000            16   60000

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title_length  10 non-null     int64
 1   tags_count    10 non-null     int64
 2   subscribers   10 non-null     int64
 3   publish_hour  10 non-null     int64
 4   views         10 non-null     int64
dtypes: int64(5)
memory usage: 532.0 bytes

       title_length  tags_count   subscribers  publish_hour         views
count     10.000000   10.000000     10.000000     10.000000      10.00000
mean      58.500000   14.100000  11300.000000     16.100000   85500.00000
std       18.416478    4.840799   7196.449742      3.665151   57030.69349
min       30.000000    8.000000   3000.000000     10.000000   25000.00000
25%       46.250000   10.250000   5500.000000     14.250000   42500.00000
50%       57.500000   13.500000  10500.000000     16.500000   72500.00000
75%       68.750000   17.500000  14500.000000     18.750000  113750.00000
max       90.000000   22.000000  25000.000000     21.000000  200000.00000